Repository ferrybig/nodejs-api-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": "tslint --fix",
  "**/*.{ts,json,md,graphql}": ["prettier --write", "git add"]
}

Editing controller
  src/modules/ToDo/ToDoController.ts
Due: tslint --fix, prettier --write

Working on example controller
  .lintstagedrc
  src/modules/ToDo/ToDoController.ts
Due: tslint --fix, prettier --write

testing travis ci
  .travis.yml
Due: none

updating roadmap
  README.md
Due: prettier --write

Fixing tslint warnings
  src/server.ts
Due: tslint --fix, prettier --write

Working in tslint problems
  src/common/BaseConfiguration.ts
  src/config/default.ts
  src/config/development.ts
  src/config/index.ts
  src/config/production.ts
  src/config/testing.ts
  src/modules/ToDo/ToDoService.ts
  src/modules/ToDo/models/CreateToDoModel.ts
Due: tslint --fix, prettier --write

Fixing tslint suggestions
  .prettierrc
  package.json
  src/common/BaseController.ts
  src/common/BaseEntity.ts
  src/common/BaseService.ts
  src/config/default.ts
  src/config/development.ts
  src/config/index.ts
  src/config/production.ts
  src/config/testing.ts
  src/index.ts
  src/modules/ToDo/ToDoController.ts
  src/modules/ToDo/ToDoEntity.ts
  src/modules/ToDo/ToDoRepository.ts
  src/modules/ToDo/ToDoService.ts
  src/modules/ToDo/__tests__/ToDoController.spec.ts
  src/modules/ToDo/models/CreateToDoModel.ts
  src/server.ts
  tsconfig.json
  tslint.json
Due: tslint --fix, prettier --write

updating tslint config
  tslint.json
Due: prettier --write

Changing naming conventions
  README.md
  src/config/default.ts
  src/config/development.ts
  src/config/index.ts
  src/config/production.ts
  src/config/testing.ts
  src/modules/ToDo/ToDoController.ts
  src/modules/ToDo/ToDoEntity.ts
  src/modules/ToDo/ToDoRepository.ts
  src/modules/ToDo/ToDoService.ts
  src/modules/ToDo/__tests__/ToDoService.spec.ts
  src/modules/ToDo/__tests__/todoControllerSpec.ts
  src/modules/ToDo/__tests__/todoServiceSpec.ts
  src/modules/ToDo/models/CreateToDoModel.ts
  wallaby.js
Due: tslint --fix, prettier --write

Renaming files and adding jest config
  jest.config.js
  src/modules/ToDo/__tests__/todoController.spec.ts
  src/modules/ToDo/__tests__/todoService.spec.ts
  wallaby.js
Due: tslint --fix, prettier --write

renaming modules
  src/modules/todos/__tests__/todoController.spec.ts
  src/modules/todos/__tests__/todoService.spec.ts
  src/modules/todos/models/createTodoModel.ts
  src/modules/todos/todoController.ts
  src/modules/todos/todoEntity.ts
  src/modules/todos/todoRepository.ts
  src/modules/todos/todoService.ts
Due: tslint --fix, prettier --write

Properly capitalize baseConfiguration & todoRepository
  src/config/default.ts
  src/config/development.ts
  src/config/index.ts
  src/config/production.ts
  src/config/testing.ts
  src/modules/todos/__tests__/todoService.spec.ts
Due: tslint --fix, prettier --write
